    /* Tablet and mobile */
    
    @media (max-width:1023px) {
         :root {
            --header-height: 68px;
            --navbar-height: 0px;
            --header-search-height: 52px;
        }
        .hide-on-mobile-tablet {
            display: none;
        }
        .header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            height: calc(var(--header-height)- var(--header-with-search-height));
        }
        .header__cart-list {
            position: fixed;
            top: var(--header-height);
            right: 0;
            left: 0;
            width: 100%;
            padding: 0 calc((100% - 644px) / 2);
        }
        .header__cart-list::before {
            display: none;
        }
        .app__container {
            margin-top: calc(var(--header-height) + var(--header-height-sort-bar));
        }
        .header-sort-bar {
            display: flex;
        }
        .footer {
            display: none;
        }
        .home-product-item__sold {
            font-size: 1.2rem;
            color: var(--text-color);
            background-color: var(--red-color);
            margin-left: 4px;
            width: 35px;
        height: 25px;
        }
    }
    /* mobile */
    
    @media (max-width:739px) {
        .hide-on-mobile {
            display: none;
        }
        .header__logo {
            line-height: 0;
            width: 50px;
        }
        .header .wide {
            width: 100%;
        }
        .header__with-search {
            height: var(--header-search-height);
            justify-content: space-between;
        }
        .header__mobile-icon {
            display: flex;
        }
        .header__cart {
            margin-right: 8px;
        }
        .header__cart,
        .header__logo {
            width: unset;
        }
        .header-sort-bar {
            top: calc(var(--header-search-height));
        }
        .header__search-history {
            top: calc(var(--header-search-height) + var(--header-height));
            width: 100%;
            position: fixed;
            left: 0;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        }
        .header__cart-list {
            top: var(--header-search-height);
        }
        .header__search {
            position: fixed;
            top: var(--header-height);
            left: 0;
            right: 0;
            height: var(--header-search-height);
            display: none;
            animation: mobileSearchSideDown linear .3s;
        }
        .pagination-item {
            font-size: 1.5rem;
            margin: 0 2px;
        }
        .pagination-item__link {
            min-width: 32px;
            --height: 28px;
        }
        .app-content {
            margin: 0 4px;
            padding-top: 0;
        }
        .mobile-category {
            display: block;
        }
        .app__container {
            margin-top: calc(var(--header-search-height) + var(--header-height-sort-bar));
        }
        @keyframes mobileSearchSideDown {
            from {
                opacity: 0;
                top: calc(var(--header-height) /2);
            }
            to {
                opacity: 1;
                top: calc(var(--header-height));
            }
        }
        .header__check-search:checked~.header__search {
            display: flex;
        }
        .footer__license {
            margin: 0;
        }
        .footer__dowload,
        .footer__item {
            justify-content: center;
        }
        .footer__heading {
            text-align: center;
        }
        .footer__dowload-apps {
            flex: unset;
        }
    }
    /* tablet */
    
    @media (min-width:740px) and (max-width:1023px) {
        .hide-on-tablet {
            display: none;
        }
        .header__cart {
            width: 50px;
            text-align: right;
        }
        .header__search {
            display: flex;
        }
    }